$primary-color: #666;
$focus-color: #fff;

$button-padding: 2 4;

$slider-bg: #fff;

@mixin normal-state {
  &,
  &:disabled {
    @content;
  }
}

@mixin active-state {
  &:hover,
  &:focus,
  &:pressed {
    @content;
  }
}

body {
  font-family: url(font.tres);
}

Button {
  @include normal-state {
    background: none;
    color: #{$focus-color};
    padding: #{$button-padding};
  }

  @include active-state {
    background: #{$focus-color};
    color: #{$primary-color};
    padding: #{$button-padding};
  }
}

TabContainer {
  &:tab_fg,
  &:tab_bg {
    background: none;
    border-width: 0 0 2 0;
    padding: 0 10;
    border-color: transparent;
  }

  &:tab_fg {
    border-color: #{$focus-color};
  }
  &:fg {
    color: #{$focus-color};
  }

  &:bg {
    color: #{$primary-color};
  }

  &:panel {
    background: none;
    padding: 10;
  }
}

HSlider {
  --icons-grabber: url(./assets/grabber.png);
  --icons-grabber-highlight: url(./assets/grabber.png);

  &:slider {
    border-width: 2 0 0 0;
    border-color: #{$slider-bg};
  }
  &:grabber_area,
  &:grabber_area_highlight {
    background: #{$slider-bg};
  }
}

.simple {
  Button {
    @include normal-state {
      background: none;
      color: #{$primary-color};
      padding: #{$button-padding};
    }

    @include active-state {
      background: none;
      color: #{$focus-color};
      padding: #{$button-padding};
    }
  }
}
